<div class="grid place-content-center mt-20">
    <h1>Se connecter</h1>

    <form class="grid " action="">
        <div class="">
        <p>E-mail ou nom d'utilisateur</p>
        <mat-form-field class="-mt-5" appearance="outline">
            <input matInput>
        </mat-form-field>

        
    </div>
    <div>
        <p>Mot de passe</p>
        <mat-form-field class="-mt-5" appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
    <button mat-flat-button>Se connecter</button>


    </form>

</div>