<div class="grid place-content-center mt-20">
    <h1>Inscription</h1>
    <app-error-message [errorMessage]="errorMessage"></app-error-message>
    <form class="grid " [formGroup]="form" (ngSubmit)="submit()">
        <div class="">
        <p>Nom d'utilisateur</p>
        <mat-form-field class="-mt-5" appearance="outline">
            <input matInput formControlName="nom">
        </mat-form-field>

        
    </div>
    <div>
        <p>Adresse e-mail</p>
        <mat-form-field class="-mt-5" appearance="outline">
            <input matInput formControlName="email">
        </mat-form-field>
    </div>

    <div>
        <p>Mot de passe</p>
        <mat-form-field class="-mt-5" appearance="outline">
            <input matInput formControlName="password">
        </mat-form-field>
    </div>

    <button mat-flat-button type="submit">S'inscrire</button>


    </form>

</div>