<div class="grid place-content-center mt-32">
    <h1 class="text-lg text-center font-bold text-gray-950 mb-6">Créer un nouvel article</h1>
    <form
      class="grid p-6 rounded-xl w-80"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="mb-4">
        
        <select
          id="theme"
          formControlName="theme"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        >
        <option value="" selected disabled hidden>Sélectionner un thème</option>
          <option value="Développement_logiciel">Développement logiciel</option>
          <option value="Intelligence_artificielle_et_apprentissage_automatique">
            Intelligence artificielle et apprentissage automatique
          </option>
          <option value="Sécurité_informatique">Sécurité informatique</option>
          <option value="Développement_mobile">Développement mobile</option>
          <option value="Programmation_avancée">Programmation avancée</option>
          <option value="Technologies_émergentes">Technologies émergentes</option>
          <option value="Gestion_de_projet_et_DevOps">
            Gestion de projet et DevOps
          </option>
        </select>
      </div>
  
      <div class="mb-4">
        
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Titre de l'article"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        />
      </div>
  
      <div class="mb-6">
        
        <textarea
          id="content"
          formControlName="content"
          placeholder="Contenu de l'article"
          rows="5"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        ></textarea>
      </div>
  
      <button
        class="bg-purple-500 hover:bg-purple-600 text-white font-semibold py-2 px-4 rounded-lg"
        [disabled]="form.invalid"
        type="submit"
      >
        Créer
      </button>
    </form>
  </div>
  