<div class="grid place-content-center mt-32">
    <h1 class="text-lg text-center font-bold text-gray-950 mb-6">Créer un nouvel article</h1>
    <form
      class="grid p-6 rounded-xl w-80"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="mb-4">
        
        <select
          id="theme"
          formControlName="themeId"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        >
        <option [ngValue]="" selected disabled hidden>Sélectionner un thème</option>
          <option [ngValue]="1">Développement logiciel</option>
          <option [ngValue]="2">
            Intelligence artificielle et apprentissage automatique
          </option>
          <option [ngValue]="3">Sécurité informatique</option>
          <option [ngValue]="4">Développement mobile</option>
          <option [ngValue]="5">Programmation avancée</option>
          <option [ngValue]="6">Technologies émergentes</option>
          <option [ngValue]="7">
            Gestion de projet et DevOps
          </option>
        </select>
      </div>
  
      <div class="mb-4">
        
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Titre de l'article"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        />
      </div>
  
      <div class="mb-6">
        
        <textarea
          id="content"
          formControlName="content"
          placeholder="Contenu de l'article"
          rows="5"
          class="w-full border border-purple-500 rounded-lg p-2 focus:ring-purple-500 focus:border-purple-500"
        ></textarea>
      </div>
  <div class="flex justify-center">
      <button
        class="bg-purple-500 hover:bg-purple-600 text-white font-semibold py-2 px-4 rounded-lg w-1/2"
        [disabled]="form.invalid"
        type="submit"
      >
        Créer
      </button>
    </div>
    </form>
  </div>
  